.red-text {
  color: red;
}
.red-bg {
  background-color: red;
}
.margin0 {
  margin: 0;
}
.badge {
  &.red-bg {
    span {
      background-color: inherit;
      color: #fff;
    }
  }
}
.top-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
