$active-color: rgba(16, 181, 223, 1);
$box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
.red-text {
  color: red;
}
.red-bg {
  background-color: red;
}
.margin0 {
  margin: 0;
}
.badge {
  &.red-bg {
    span {
      background-color: inherit;
      color: #fff;
    }
  }
}
.top-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.form-section {
  width: 450px;
  max-width: 100%;
  height: 100%;
  background: #fff;
  h3 {
    padding: 20px;
    text-align: center;
  }
  .form-elem {
    margin-bottom: 16px;
    width: 100%;
  }
  .link {
    margin: 20px 0;
  }
}
.action-btns {
  button {
    border-radius: 0;
    margin-right: 10px;
    box-shadow: $box-shadow;
    padding: 5px 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    background-color: $active-color;
    color: #fff;
    &:hover,
    &:focus {
      background-color: $active-color;
    }
  }
}
.booked-list {
  position: absolute;
  top: 2px;
  right: 2px;
  ul {
    li {
      font-size: 12px;
      color: #fff;
      line-height: 10px;
      margin-bottom: 3px;
      padding: 4px;
      &:first-child {
        background-color: #fa5b5b;
      }
      &:nth-child(2) {
        background-color: #c9c92d;
      }
      &:nth-child(3) {
        background-color: #09a009;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .action-btns {
    button {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
  .booked-list ul li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    span {
      display: none;
    }
  }
}
