$active-color: rgba(16, 181, 223, 1);
$box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
.modal-conatiner {
  .modal-scrollPaper {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 16px;
    .modal-paper {
      border-radius: 10px;
      position: relative;
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        background: #fff;
        color: #000;
        padding: 3px;
        box-shadow: $box-shadow;
        svg {
          font-size: 16px;
        }
      }
      .modal-title {
        background-color: $active-color;
        color: #fff;
        h2 {
          width: calc(100% - 20px);
        }
      }
    }
  }
}
