* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}
a {
  color: inherit;
  text-decoration: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
@import './css/common.scss';
@import './css/navigationBar.scss';
@import './css/overlay.scss';
@import './css/myProfile.scss';
@import './css/login.scss';
@import './css/homePage.scss';
